{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="#">Edit Product</a>
            </li>
        </ol>
        <div class="row">
            <div class="col-lg-4">
            </div>
        </div>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> {{ product.title }} (id:{{ product.id }})
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                            {{ form_start(form) }}
                                {{ form_errors(form) }}

                                <div class="form-group">
                                    {{ form_label(form.code) }}
                                    {{ form_errors(form.code) }}
                                    {{ form_widget(form.code) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.title) }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.subtitle) }}
                                    {{ form_errors(form.subtitle) }}
                                    {{ form_widget(form.subtitle) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.origins) }}
                                    {{ form_errors(form.origins) }}
                                    {{ form_widget(form.origins) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.influences) }}
                                    {{ form_errors(form.influences) }}
                                    {{ form_widget(form.influences) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description) }}
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.features) }}
                                    {{ form_errors(form.features) }}
                                    {{ form_widget(form.features) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.materials) }}
                                    {{ form_errors(form.materials) }}
                                    {{ form_widget(form.materials) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.decorations) }}
                                    {{ form_errors(form.decorations) }}
                                    {{ form_widget(form.decorations) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.plants) }}
                                    {{ form_errors(form.plants) }}
                                    {{ form_widget(form.plants) }}
                                </div>
                                {{ form_widget(form.save) }}
                            {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}