{% block footer %}

<div class="footer-widgets-wrap clearfix">
    <div class="col_two_third">
        <div class="col_one_third">
            <div class="widget clearfix">
                <p style="font-weight: bold;">Vous avez un projet de jardin&nbsp;?</p>
                <p>Confiez-moi sa conception en toute confiance et je réalise pour vous le jardin qui vous ressemble.</p>
                <p style="font-weight: bold;">A Propos de La fabrique de jardins</p>
                <p>La fabrique de jardins est un bureau d'études en ligne, basé en Loire Atlantique (44) et spécialisé dans le paysage. Je vous propose un large choix d'ambiances afin de concevoir le jardin de vos rêves.</p>
            </div>
        </div>

        <div class="col_one_third">
            <div class="widget widget_links clearfix">
                <h4>La fabrique de jardins</h4>
                <ul>
                    <li><a href="{{ path('page', {'page': 'concept'}) }}">Le concept</a></li>
                    <li><a href="{{ path('ambiances') }}">Les ambiances</a></li>
                    <li><a href="{{ path('lieux') }}">Les lieux</a></li>
                    <li><a href="{{ path('philosophies') }}">Les philosophies</a></li>
                    <!--<li><a href="{{ path('page', {'page': 'tarifs'}) }}">Tarifs</a></li>-->
                    <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                </ul>
            </div>
        </div>

        <div class="col_one_third col_last">
            <div class="widget clearfix">
                <h4>Types de jardins</h4>

                <div id="post-list-footer">
                    <div class="spost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4><a href="{{ path('philosophie', {'philosophie': 'ecologique'}) }}">Un jardin écologique</a></h4>
                            </div>
                        </div>
                    </div>

                    <div class="spost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4><a href="{{ path('philosophie', {'philosophie': 'permacole'}) }}">La permaculture</a></h4>
                            </div>
                        </div>
                    </div>

                    <div class="spost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4><a href="{{ path('ambiances', {'ambiance': 'bretonne'}) }}">Le jardin breton</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col_one_third col_last">
<!--
        <div class="widget clearfix" style="margin-bottom: -20px;">
            <div class="row">
                <div class="col-md-6 bottommargin-sm">
                    <div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                    <h5 class="nobottommargin">Total Downloads</h5>
                </div>

                <div class="col-md-6 bottommargin-sm">
                    <div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                    <h5 class="nobottommargin">Clients</h5>
                </div>
            </div>
        </div>
-->
        <!--
        <div class="widget subscribe-widget clearfix">
            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Subscribe</button>
                    </span>
                </div>
            </form>
        </div>
        -->

        <div class="widget clearfix" style="margin-bottom: -20px;">
            <div class="row">

                <div class="col-md-6 clearfix bottommargin-sm">
                    <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="https://www.facebook.com/La-fabrique-de-jardins-423791838042300/"><small style="display: block; margin-top: 3px;"><strong>Notre page</strong><br>sur Facebook</small></a>
                </div>
                <div class="col-md-6 clearfix">
                    <a href="#" class="social-icon si-dark si-colored si-instagram nobottommargin" style="margin-right: 10px;">
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="https://www.instagram.com/laurencebazeau/"><small style="display: block; margin-top: 3px;"><strong>Suivez-nous</strong><br>sur Instagram</small></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="clearfix">
            <address>
                <strong>Adresse</strong>&nbsp;:&nbsp;<br>
                BAZEAU Laurence<br />
                17, rue de l'Aubépin<br />
                44190 GORGES<br />
            </address>
            <abbr title="Phone Number"><strong>Téléphone&nbsp;:&nbsp;</strong></abbr>07 72 43 27 00<br>
            <abbr title="Email Address"><strong>Email&nbsp;:&nbsp;</strong></abbr>laurenpaysage@gmail.com
        </div>

    </div>
</div><!-- .footer-widgets-wrap end -->


{% endblock %}