{% block header %}
    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
                <a href="#" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="sub-title">

                <ul>
                    <li><a href="#"><div>Accueil</div></a></li>
                    <li class="current"><a href="#"><div>Conception de jardins</div></a>
                        <ul>
                            <li><a href="{{ path('form', {'form_type': 'questionnaire-particuliers'}) }}"><div><i class="icon-stack"></i>Particuliers</div></a></li>
                            <li><a href="{{ path('form', {'form_type': 'questionnaire-professionnels'}) }}"><div><i class="icon-stack"></i>Professionnels</div></a></li>
                            <li><a href="{{ path('form', {'form_type': 'questionaire-en-ligne'}) }}"><div><i class="icon-stack"></i>Questionnaire en ligne</div></a></li>
                        </ul>
                    </li>
                    <li class="mega-menu"><a href="#"><div>Le catalogue</div></a>
                        <div class="mega-menu-content style-2 clearfix">
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>Les ambiances</div></a>
                                    <ul>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-hispano-mauresque'}) }}"><div>Jardin hispano-mauresque</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-mediterraneen'}) }}"><div>Jardin méditerranéen</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-oriental-zen'}) }}"><div>Jardin oriental - zen</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-exotique'}) }}"><div>Jardin exotique</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-medieval'}) }}"><div>Jardin médiéval</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-anglais-mixed-border'}) }}"><div>Jardin anglais mixed-border romantique</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-contemporain-moderne'}) }}"><div>Jardin contemporain-moderne</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-a-la-francaise'}) }}"><div>Jardin à la française</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'jardin-d-ombre'}) }}"><div>Jardin d'ombre</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>Les lieux</div></a>
                                    <ul>
                                        <li><a href="{{ path('lieux', {'place': 'balcon'}) }}"><div>Balcon</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'terrasse'}) }}"><div>Terrasse</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'amenagement-de-piscine'}) }}"><div>Aménagement de piscine</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'massif'}) }}"><div>Massif</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'potager'}) }}"><div>Potager</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'jardin-en-ville'}) }}"><div>Jardin en ville</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'jardin-de-bourg'}) }}"><div>Jardin de bourg</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'jardin-de-campagne'}) }}"><div>Jardin de campagne</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>La philosophie</div></a>
                                    <ul>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'jardin-conventionnel'}) }}"><div>Jardin conventionnel</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'jardin-ecologique'}) }}"><div>Jardin écologique</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'jardin-de-la-recup'}) }}"><div>Jardin de la récup</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'jardin-permaculture'}) }}"><div>Permaculture</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'jardin-potager-bio'}) }}"><div>Potager bio</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><div>Les tarifs</div></a></li>
                    <li><a href="#"><div>Contacts</div></a></li>
                    <li><a href="#"><div>Blog</div></a></li>

                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>
{% endblock %}
