{% block header %}
    <div id="header-wrap" style="height: 100px; border: 1px solid slategrey; background-color: #465a7b">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <!--<a href="#" class="{{ asset('media/logo2.png') }}" data-dark-logo="images/logo2.png">
                    <img src="{{ asset('media/logo2.png') }}" alt="Canvas Logo">
                </a>
                <a href="#" class="retina-logo" data-dark-logo="{{ asset('media/logo2.png') }}">
                    <img src="{{ asset('media/logo2.png') }}" alt="Canvas Logo">
                </a>-->
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-2">

                <ul>
                    <li><a href="{{ path('homepage') }}"><div>Accueil</div></a></li>
                    <li><a href="#"><div>Conception de jardins</div></a>
                        <ul>
                            <li><a href="{{ path('form', {'form_type': 'questionnaire-particuliers'}) }}"><div><i class="icon-stack"></i>Particuliers</div></a></li>
                            <li><a href="{{ path('form', {'form_type': 'questionnaire-professionnels'}) }}"><div><i class="icon-stack"></i>Professionnels</div></a></li>
                        </ul>
                    </li>
                    <li class="mega-menu"><a href="#"><div>Le catalogue</div></a>
                        <div class="mega-menu-content style-2 clearfix" style="top: unset;">
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="{{ path('catalogue_type', {'catalogueType': 'jardins'}) }}"><div>Les ambiances</div></a>
                                    <ul>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'mediterraneene'}) }}"><div>Méditerranéene</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'japonaise'}) }}"><div>Japonaise</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'exotique-tropicale'}) }}"><div>Exotique - tropicale</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'bretonne'}) }}"><div>Bretonne</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'medievale'}) }}"><div>Médiévale</div></a></li>
                                        <li><a href="{{ path('ambiances', {'ambiance': 'romantique'}) }}"><div>Romantique</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>Les lieux</div></a>
                                    <ul>
                                        <li><a href="{{ path('lieux', {'place': 'balcon'}) }}"><div>Balcon</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'terrasse'}) }}"><div>Terrasse</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'piscine'}) }}"><div>Piscine</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'massif'}) }}"><div>Massif</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'potager'}) }}"><div>Potager</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'jardin-en-ville'}) }}"><div>Jardin en ville</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'jardin-de-bourg'}) }}"><div>Jardin de bourg</div></a></li>
                                        <li><a href="{{ path('lieux', {'place': 'jardin-de-campagne'}) }}"><div>Jardin de campagne</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>La philosophie</div></a>
                                    <ul>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'classique'}) }}"><div>Classique</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'contemporaine'}) }}"><div>Contemporaine</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'ecologique'}) }}"><div></div>Écologique</a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'recup'}) }}"><div>Récup</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophy': 'permacole'}) }}"><div>Permacole</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><div>Les tarifs</div></a></li>
                    <li><a href="{{ path('contact') }}"><div>Contact</div></a></li>
                    <li><a href="#"><div>Blog</div></a></li>

                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>
{% endblock %}
