{% block header %}
    <div id="header-wrap" style="height: 100px; border: 1px solid slategrey; background-color: #465a7b">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <!--<div id="logo">
                <a href="#" class="{{ asset('media/logo3.jpg') }}" data-dark-logo="images/logo2.png">
                    <img src="{{ asset('media/logo3.jpg') }}" alt="Canvas Logo">
                </a>
                <a href="#" class="retina-logo" data-dark-logo="{{ asset('media/logo3.jpg') }}">
                    <img src="{{ asset('media/logo3.jpg') }}" alt="Canvas Logo">
                </a>
            </div>--><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-2">

                <ul>
                    <li><a href="{{ path('homepage') }}"><div>Accueil</div></a></li>
                    <li><a href="#"><div>La fabrique</div></a>
                        <ul>
                            <li><a href="{{ path('page', {'page': 'concept'}) }}"><div><i class="icon-stack"></i>Le concept</div></a></li>
                            <li><a href="{{ path('form', {'form_type': 'questionnaire-particuliers'}) }}"><div><i class="icon-stack"></i>Le questionnaire</div></a></li>
                            <!--<li><a href="{{ path('page', {'page': 'tarifs'}) }}"><div><i class="icon-stack"></i>Nos tarifs</div></a></li>-->
                            <li><a href="{{ path('page', {'page': 'professionnels'}) }}"><div><i class="icon-stack"></i>Professionnels</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Conception de jardin</div></a>
                    <ul>
                            <li><a href="{{ path('ambiances') }}"><div>Les ambiances</div></a></li>
                            <li><a href="{{ path('lieux') }}"><div>Les lieux</div></a></li>
                            <li><a href="{{ path('philosophies') }}"><div>La philosophie</div></a></li>
                    </ul>
                     <!--   <div class="mega-menu-content style-2 clearfix" style="top: unset;">
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="{{ path('ambiances') }}"><div>Les ambiances</div></a>
                                    <ul>
                                        <li><a href="{{ path('ambiance', {'ambiance': 'mediterraneenne'}) }}"><div>Méditerranéenne</div></a></li>
                                        <li><a href="{{ path('ambiance', {'ambiance': 'japonaise-zen'}) }}"><div>Japonaise - Zen</div></a></li>
                                        <li><a href="{{ path('ambiance', {'ambiance': 'exotique-tropicale'}) }}"><div>Exotique - tropicale</div></a></li>
                                        <li><a href="{{ path('ambiance', {'ambiance': 'bretonne'}) }}"><div>Bretonne - BOrd de mer</div></a></li>
                                        <li><a href="{{ path('ambiance', {'ambiance': 'medievale'}) }}"><div>Médiévale</div></a></li>
                                        <li><a href="{{ path('ambiance', {'ambiance': 'romantique-anglais'}) }}"><div>Romantique Anglais</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="{{ path('lieux') }}"><div>Les lieux</div></a>
                                    <ul>
                                        <li><a href="{{ path('lieu', {'lieu': 'balcon'}) }}"><div>Balcon</div></a></li>
                                        <li><a href="{{ path('lieu', {'lieu': 'piscine'}) }}"><div>Piscine</div></a></li>
                                        <li><a href="{{ path('lieu', {'lieu': 'massif'}) }}"><div>Massif</div></a></li>
                                        <li><a href="{{ path('lieu', {'lieu': 'potager'}) }}"><div>Potager</div></a></li>
                                        <li><a href="{{ path('lieu', {'lieu': 'ville'}) }}"><div>Jardin en ville</div></a></li>
                                        <li><a href="{{ path('lieu', {'lieu': 'bourg'}) }}"><div>Jardin de bourg</div></a></li>
                                        <li><a href="{{ path('lieu', {'lieu': 'campagne'}) }}"><div>Jardin de campagne</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="{{ path('philosophies') }}"><div>La philosophie</div></a>
                                    <ul>
                                        <li><a href="{{ path('philosophie', {'philosophie': 'classique'}) }}"><div>Classique</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophie': 'contemporaine'}) }}"><div>Contemporaine</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophie': 'ecologique'}) }}"><div></div>Écologique</a></li>
                                        <li><a href="{{ path('philosophie', {'philosophie': 'recup'}) }}"><div>Récup</div></a></li>
                                        <li><a href="{{ path('philosophie', {'philosophie': 'permacole'}) }}"><div>Permacole</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>-->
                    </li>
                    <li><a href="{{ path('contact') }}"><div>Contact</div></a></li>

                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>
{% endblock %}
