{% extends 'base.html.twig' %}

{% block content %}

    <div class="section dark container-fullwidth" style="margin: 0px; height: 500px; background-position: center bottom; background-size:cover; background-image: url('{{ asset('media/dessin3.jpg') }}');">
        <div class="container center clearfix vertical-middle" style="padding-top: 20px; padding-bottom:20px; background-color: rgba(0, 0, 0, 0.5);">

            <div class="slider-caption slider-caption-center" style="max-width:1000px;">
                <h2 data-animate="fadeInUp" style="margin: 0px">La fabrique de jardins</h2>
                <p style="font-size: 120%; width:80%; margin: 0 auto;" data-animate="fadeInUp" data-delay="200">"Des projets paysagers en ligne pour les particuliers, entrepreneurs du paysage, jardineries, maîtres d’œuvre"<br />
                    <span style="font-size: 60%;">En Loire Atlantique (44) – Maine et Loire (49) – Vendée (85) et en ligne sur toute la France</span></p>
            </div>

        </div>
    </div>

    <div id="portfolio" class="portfolio grid-container portfolio-6 portfolio-nomargin portfolio-notitle portfolio-full clearfix">

        <article class="portfolio-item">
            <a href="{{ asset('media/dessin1.jpg') }}" data-lightbox="image">
                <img src="{{ asset('media/dessin1-thumb.jpg') }}" data-lightbox="image" alt="Open Imagination">
            </a>
        </article>
        <article class="portfolio-item pf-media pf-icons">
            <a  href="{{ asset('media/dessin2.jpg') }}" data-lightbox="image">
                <img src="{{ asset('media/dessin2-thumb.jpg') }}" data-lightbox="image" alt="Open Imagination">
            </a>
        </article>
        <article class="portfolio-item pf-media pf-icons">
            <a  href="{{ asset('media/dessin3.jpg') }}" data-lightbox="image">
                <img src="{{ asset('media/dessin3-thumb.jpg') }}" data-lightbox="image" alt="Open Imagination">
            </a>
        </article>
        <article class="portfolio-item pf-media pf-icons">
            <a  href="{{ asset('media/dessin4.jpg') }}" data-lightbox="image">
                <img src="{{ asset('media/dessin4-thumb.jpg') }}" data-lightbox="image" alt="Open Imagination">
            </a>
        </article>
        <article class="portfolio-item pf-media pf-icons">
            <a  href="{{ asset('media/dessin5.jpg') }}" data-lightbox="image">
                <img src="{{ asset('media/dessin5-thumb.jpg') }}" data-lightbox="image" alt="Open Imagination">
            </a>
        </article>
        <article class="portfolio-item pf-media pf-icons">
            <a  href="{{ asset('media/dessin6.jpg') }}" data-lightbox="image">
                <img src="{{ asset('media/dessin6-thumb.jpg') }}" data-lightbox="image" alt="Open Imagination">
            </a>
        </article>


    </div><!-- #portfolio end -->

    <div class="container clearfix">

        <div class="heading-block center">
            <h2>Parcourez le guide de conception et déterminez le jardin qui vous convient</h2>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img class="crop360" src="{{ asset('media/ambiance/bretonne/LA FABRIQUE DE JARDINS - AMBIANCES - BRETONNE (5).jpg') }}" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3><a style="text-decoration: underline !important" href="{{ path('ambiances') }}">Les ambiances</a><span class="subtitle">Le jardin breton</span></h3>
                    <p>La Bretagne par son climat doux et humide est une terre botanique. Les jardins bretons jouissent d’une grande variété floristique.</p>
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img class="crop360" src="{{ asset('media/lieu/campagne/LA FABRIQUE - LIEUX - CAMPAGNE (1).jpg') }}" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3><a style="text-decoration: underline !important" href="{{ path('lieux') }}">Les lieux</a><span class="subtitle">Le jardin de campagne</span></h3>
                    <p>Aménager un grand jardin ne s’improvise pas, un beau jardin est un jardin équilibré, homogène et cohérent. La Fabrique de jardins organise pour vous les ambiances paysagères que vous souhaitez dans votre jardin.</p>
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img class="crop360" src="{{ asset('media/philosophie/ecologique/LA FABRIQUE DE JARDINS - PHILOSOPHIE - ECOLOGIQUE (4).jpg') }}" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3><a style="text-decoration: underline !important" href="{{ path('philosophies') }}">Les philosophies</a><span class="subtitle">Un jardin écologique</span></h3>
                    <p>La philosophie écologique permet d’intégrer la problématique environnementale dans toutes les étapes de la vie du jardin : de sa conception, à sa construction en passant par son entretien.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="section container-fullwidth">
        <div class="container clearfix">
            <div class="heading-block center">
                <h2>La fabrique de jardins</h2>
                <span style="font-size: 200%">Une méthode simple et rapide pour définir vos besoins et vos envies</span>
        </div>

            <div class="col_half">
                <img style="width:100%;" data-animate="fadeIn" src="{{ asset('media/logo4.gif') }}" alt="Macbook">
            </div>

            <div class="col_half col_last nobottommargin" style="font-size: 130%; margin-top: 50px;">

                <div style="padding: 0" class="feature-box fbox-plain">
                    <!--<div class="fbox-icon">
                        <a href="#"><i class="i-alt">1</i></a>
                    </div>-->
                    <h3>1. Choisissez votre style de jardin</h3>
                    <p>Parcourez le guide de conception à la recherche de votre jardin idéal. Découvrez des ambiances et des exemples de réalisation pour vous aiguiller sur le jardin de vos rêves.</p>
                </div>

                <div style="padding: 0" class="feature-box fbox-plain">
                    <!--<div class="fbox-icon">
                        <a href="#"><i class="i-alt">2</i></a>
                    </div>-->
                    <h3>2. Remplissez le questionnaire</h3>
                    <p>Détaillez votre projet et transmettez les informations à nos paysagistes pour une conception au plus près de vos demandes.</p>
                </div>

                <div style="padding: 0" class="feature-box fbox-plain">
                    <!--<div class="fbox-icon">
                        <a href="#"><i class="i-alt">3</i></a>
                    </div>-->
                    <h3>3. Recevez des plans sur mesure</h3>
                    <p>Échangez avec moi et validez votre projet. Vous recevrez ensuite une étude personnalisée.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}