{% extends 'admin/base.html.twig' %}

{% block pagetitle %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>Commande d'étude de jardin</h1>
            <span>Choisissez le lieu du projet ainsi que la surface, et remplissez le questionnaire qui définira votre projet.</span>
        </div>
    </section>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a href="#">Questionnaires</a>
        </li>
    </ol>
    <div class="row">
        <div class="col-lg-4">
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Formulaire de commandes - Données
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Sujet</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in data %}
                    <tr>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.lastname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.telephone }}</td>
                        <td>{{ contact.sujet }}</td>
                        <td>{{ contact.message}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>
{% endblock %}