{% extends 'base.html.twig' %}

{% block content %}

    <div class="section nobg notopmargin noborder bottommargin-sm">
        <div class="container clearfix">
            <div class="col_half nobottommargin">
                <div class="heading-block" style="padding-top: 40px;">

                    <h2>{{ datas['title'] }}</h2>
                    <span> {{ datas['subtitle'] }}</span>

                </div>

                <p>{{ datas['description'] }}</p>

            </div>

            <div class="col_half bottommargin-sm center col_last">
                <img src="{{ asset('media/' ~ datas['code'] ~ '/5.jpg') }}" alt="Image" data-animate="fadeInRight">
            </div>
        </div>
    </div>

    <div class="container clearfix">
        <div class="col_one_fourth nobottommargin">
            <div class="fancy-title title-border">
                <h4>Les plantes</h4>
            </div>

            <p>{{ datas['plants_description'] }}</p>

            <ul class="iconlist nobottommargin">
                {% for plant in datas['plants'] %}
                    <li><i class="icon-caret-right"></i>{{ plant }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col_one_fourth nobottommargin">
            <div class="fancy-title title-border">
                <h4>Les caractéristiques</h4>
            </div>

            <ul class="iconlist nobottommargin">
                {% for carac in datas['carac'] %}
                    <li><i class="icon-caret-right"></i>{{ carac }}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="col_half nobottommargin col_last">
            <div class="fancy-title title-border">
                <h4>Gallery</h4>
            </div>

            <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
                <a href="{{ asset('media/' ~ datas['code'] ~ '/1.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/1.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/2.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/2.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/3.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/3.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/4.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/4.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/5.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/5.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/6.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/6.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/7.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/7.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
                <a href="{{ asset('media/' ~ datas['code'] ~ '/8.jpg') }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas['code'] ~ '/8.jpg') }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
            </div>
        </div>
    </div>

{% endblock %}