{% extends 'base.html.twig' %}

{% block content %}

<!--    <div class="section nobg notopmargin noborder bottommargin-sm">-->
        <div class="container-fluid clearfix">
            <div class="col_full">
                <div class="heading-block" style="padding-top: 40px;">

                    <h2>{{ datas.title }}</h2>
                    <span> {{ datas.subtitle }}</span>

                </div>
            </div>
            <div class="col_full">
                <div class="col_half nobottommargin">


                    <p style="text-align: justify">{{ datas.description }}</p>

                    <p><strong>Origine&nbsp;:&nbsp;</strong>{{ datas.origins }}</p>
                    <p><strong>Influence et similitudes&nbsp;:&nbsp;</strong>{{ datas.influences }}</p>
                </div>

                <div class="col_half bottommargin-sm center col_last">
                    <img src="{{ asset('media/' ~ datas.code ~ '/5.jpg') }}" alt="Image" data-animate="fadeInRight">
                </div>
            </div>
        </div>
<!--    </div> -->

    <div class="container-fluid clearfix">
        {% if datas.showFeaturesList() %}
        <div class="col_one_fourth nobottommargin ambiance-features">
            <div class="fancy-title title-border">
                <h4 class="ambiance-params"><i class="material-icons">perm_data_setting</i>Caractéristiques</h4>
            </div>
            <ul class="iconlist nobottommargin ambiance-list">
                {% for feature in datas.showFeaturesList() %}
                    <li><i class="icon-caret-right"></i>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>
            {% endif %}

        {% if datas.showMaterialsList() %}
        <div class="col_one_fourth nobottommargin ambiance-materials">
            <div class="fancy-title title-border">
                <h4 class="ambiance-params"><i class="material-icons">view_list</i>Les matériaux</h4>
            </div>
            <ul class="iconlist nobottommargin ambiance-list">
                {% for material in datas.showMaterialsList() %}
                    <li><i class="icon-caret-right"></i>{{ material }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if datas.showDecorationsList() %}
        <div class="col_one_fourth nobottommargin ambiance-decorations">
            <div class="fancy-title title-border">
                <h4 class="ambiance-params"><i class="material-icons">account_balance</i>Les éléments</h4>
            </div>
            <ul class="iconlist nobottommargin ambiance-list">
                {% for decoration in datas.showDecorationsList() %}
                    <li><i class="icon-caret-right"></i>{{ decoration }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if datas.showPlantsList() %}
        <div class="col_one_fourth nobottommargin ambiance-vegetals col_last">
            <div class="fancy-title title-border">
                <h4 class="ambiance-params"><i class="material-icons">local_florist</i>Les végétaux</h4>
            </div>
            <ul class="iconlist nobottommargin ambiance-list">
                {% for plant in datas.showPlantsList() %}
                    <li><i class="icon-caret-right"></i>{{ plant }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="col_full nobottommargin">
        <div class="fancy-title title-border">
            <h4>Gallery</h4>
        </div>

        <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
            {% for file in files %}
            <a href="{{ asset('media/' ~ datas.code ~ '/' ~ file) }}" data-lightbox="gallery-item">
                <img class="image_fade" src="{{ asset('media/' ~ datas.code ~ '/' ~ file) }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
            {% endfor %}
        </div>
    </div>


{% endblock %}