{% extends 'base.html.twig' %}

{% block body %}
<h1>Les ambiances</h1>
    <div class="container">
        <section class="row">
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-a-la-francaise.jpg') }}" />
                <div class="ambiance-texte">Jardin à la française</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-anglais.jpg') }}" />
                <div class="ambiance-texte">Jardin anglais</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-contemporain-moderne.jpg') }}" />
                <div class="ambiance-texte">Jardin contemporain</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-d-ombre.jpg') }}" />
                <div class="ambiance-texte">Jardin d'ombre</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-mauresque-alhambra.jpg') }}" />
                <div class="ambiance-texte">Jardin hispano-mauresque</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-medieval.jpg') }}" />
                <div class="ambiance-texte">Jardin médiéval</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-mediterranean.jpg') }}" />
                <div class="ambiance-texte">Jardin méditerranéen</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-oriential-zen.jpg') }}" />
                <div class="ambiance-texte">Jardin oriental</div>
            </div>
            <div class="col-sm-6 ambiance-bloc">
                <img class="ambiance-img" src="{{ asset('media/jardins/jardin-tropical.jpg') }}" />
                <div class="ambiance-texte">Jardin tropical</div>
            </div>
        </div>
    </div>

{% endblock %}