{% extends 'base.html.twig' %}

{% block pagetitle %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>{{ datas.title }}</h1>
            <span>{{ datas.subtitle }}</span>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section id="content">
        <div class="content-wrap">
<!--    <div class="section nobg notopmargin noborder bottommargin-sm">-->
        <div class="container clearfix">
            <div class="col_full">
                <div class="col_half nobottommargin">


                    <p style="text-align: justify">{{ datas.description |raw }}</p>

                    {% if (datas.origins) %}
                    <p><strong>Origine&nbsp;:&nbsp;</strong>{{ datas.origins }}</p>
                    {% endif %}
                    {% if (datas.influences) %}
                    <p><strong>Influence et similitudes&nbsp;:&nbsp;</strong>{{ datas.influences }}</p>
                    {% endif %}
                </div>

                <div class="col_half bottommargin-sm center col_last">
                {% for file in files|slice(0,1) %}
                    <img src="{{ asset('media/' ~ datas.type ~ '/' ~ datas.code ~ '/' ~ file) }}" alt="Image" data-animate="fadeInRight">
                {% endfor %}
                </div>
            </div>
        </div>
<!--    </div> -->

        <div class="container clearfix">
            {% if datas.showFeaturesList() %}
            <div class="col_one_fourth nobottommargin ambiance-features">
                <div class="fancy-title title-border">
                    <h4 class="ambiance-params"><i class="material-icons">perm_data_setting</i>Caractéristiques</h4>
                </div>
                <ul class="iconlist nobottommargin ambiance-list">
                    {% for feature in datas.showFeaturesList() %}
                        <li><i class="icon-caret-right"></i>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
                {% endif %}

            {% if datas.showMaterialsList() %}
            <div class="col_one_fourth nobottommargin ambiance-materials">
                <div class="fancy-title title-border">
                    <h4 class="ambiance-params"><i class="material-icons">view_list</i>Les matériaux</h4>
                </div>
                <ul class="iconlist nobottommargin ambiance-list">
                    {% for material in datas.showMaterialsList() %}
                        <li><i class="icon-caret-right"></i>{{ material }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if datas.showDecorationsList() %}
            <div class="col_one_fourth nobottommargin ambiance-decorations">
                <div class="fancy-title title-border">
                    <h4 class="ambiance-params"><i class="material-icons">account_balance</i>Les éléments</h4>
                </div>
                <ul class="iconlist nobottommargin ambiance-list">
                    {% for decoration in datas.showDecorationsList() %}
                        <li><i class="icon-caret-right"></i>{{ decoration }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if datas.showPlantsList() %}
            <div class="col_one_fourth nobottommargin ambiance-vegetals col_last">
                <div class="fancy-title title-border">
                    <h4 class="ambiance-params"><i class="material-icons">local_florist</i>Les végétaux</h4>
                </div>
                <ul class="iconlist nobottommargin ambiance-list">
                    {% for plant in datas.showPlantsList() %}
                        <li><i class="icon-caret-right"></i>{{ plant }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        </div>
    </section>
    <div class="col_full nobottommargin">
        {#<div class="fancy-title title-border">#}
            {#<h4>Gallery</h4>#}
        {#</div>#}

        <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
            {% for file in files %}
            <a href="{{ asset('media/' ~ datas.type ~ '/' ~ datas.code ~ '/' ~ file) }}" data-lightbox="gallery-item">
                <img class="image_fade" src="{{ asset('media/' ~ datas.type ~ '/' ~ datas.code ~ '/' ~ file) }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
            {% endfor %}
        </div>
    </div>


{% endblock %}