{% extends 'base.html.twig' %}

{% block pagetitle %}
    <section id="page-title">
        <div class="container clearfix">

            {% if (context == 'ambiances') %}
                <h1>Conception de jardin - Les ambiances</h1>
                <span>Our Latest News in Grid Layout</span>
            {% elseif (context == 'lieux') %}
                <h1>Conception de jardin - Les lieux</h1>
                <span>Our Latest News in Grid Layout</span>
            {% elseif (context == 'philosophies') %}
                <h1>Conception de jardin - Les philosophies</h1>
                <span>Our Latest News in Grid Layout</span>
            {% endif %}

        </div>
    </section>

{% endblock %}

{% block content %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">

                    {% for product in products %}
                    <div class="entry clearfix">
                        <div class="entry-image">
                            <a href="#">
                                {% for key,file in files if key == product.code %}
                                    {% if context == 'ambiances' %}
                                        <a href="{{ path(product.type, {'ambiance' : product.code}) }}">
                                    {% elseif context == 'lieux' %}
                                        <a href="{{ path(product.type, {'lieu' : product.code}) }}">
                                    {% elseif context == 'philosophies' %}
                                        <a href="{{ path(product.type, {'philosophie' : product.code}) }}">
                                    {% endif %}
                                    <img class="crop360" src="{{ asset('media/' ~ product.type ~ '/' ~ product.code ~ '/' ~ random(file)) }}" alt="Mac Sunglasses">
                                    </a>
                                {% endfor %}
                            </a>
                        </div>
                        <div class="entry-title">
                            {% if context == 'ambiances' %}
                                <h2 style="text-decoration: underline"><a  href="{{ path(product.type, {'ambiance' : product.code}) }}">{{ product.title }}</a></h2>
                            {% elseif context == 'lieux' %}
                                <h2 style="text-decoration: underline"><a style="text-decoration: underline" href="{{ path(product.type, {'lieu' : product.code}) }}">{{ product.title }}</a></h2>
                            {% elseif context == 'philosophies' %}
                                <h2 style="text-decoration: underline"><a style="text-decoration: underline" href="{{ path(product.type, {'philosophie' : product.code}) }}">{{ product.title }}</a></h2>
                            {% endif %}
                            <span>{{ product.subtitle }}</span>
                        </div>
                        <div class="entry-content">

                        </div>
                    </div>
                    {% endfor %}


                </div><!-- #portfolio end -->
            </div>
        </div>
    </section>

{% endblock %}