{% extends 'base.html.twig' %}

{% block pagetitle %}
    <section id="page-title">
        <div class="container clearfix">

            {% if (context == 'ambiances') %}
                <h1>Conception de jardin - Les ambiances</h1>
                <span>Parcourez les différentes ambiances de jardins paysagers. Un <strong>jardin anglais fleuri</strong>, une <strong>ambiance japonaise zen</strong>, ou une <strong>ambiance méditéranéenne</strong> pour profiter de la chaleur estivale, trouvez le jardin qui vous plait.</span>
            {% elseif (context == 'lieux') %}
                <h1>Conception de jardin - Les lieux</h1>
                <span>Les espaces importants du jardin</span>
            {% elseif (context == 'philosophies') %}
                <h1>Conception de jardin - Les philosophies</h1>
                <span></span>
            {% endif %}

        </div>
    </section>

{% endblock %}

{% block content %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">

                    {% for product in products %}
                    <div class="entry clearfix">
                        <div class="entry-image">
                            <a href="#">
                                {% for key,file in files if key == product.code %}
                                    {% if context == 'ambiances' %}
                                        <a href="{{ path(product.type, {'ambiance' : product.code}) }}">
                                    {% elseif context == 'lieux' %}
                                        <a href="{{ path(product.type, {'lieu' : product.code}) }}">
                                    {% elseif context == 'philosophies' %}
                                        <a href="{{ path(product.type, {'philosophie' : product.code}) }}">
                                    {% endif %}
                                    <img class="crop360" src="{{ asset('media/' ~ product.type ~ '/' ~ product.code ~ '/' ~ random(file)) }}" alt="Mac Sunglasses">
                                    </a>
                                {% endfor %}
                            </a>
                        </div>
                        <div class="entry-title">
                            {% if context == 'ambiances' %}
                                <h2 style="text-decoration: underline"><a  href="{{ path(product.type, {'ambiance' : product.code}) }}">{{ product.title }}</a></h2>
                            {% elseif context == 'lieux' %}
                                <h2 style="text-decoration: underline; text-align: center"><a style="text-decoration: underline" href="{{ path(product.type, {'lieu' : product.code}) }}">{{ product.title }}</a></h2>
                                {% for product_code, prices in pricings %}
                                    {% if product_code == product.code %}
                                        {% for key_price, price in prices[0] %}
                                            {% if (prices[0]|length == 1) %}
                                            <div style="padding-top:10px; padding-bottom: 10px; text-align:center; width: 100%; color: #333; background-color: #e8e8e8; display:block; float:left;">
                                                <!--<span style="width:100%; display:block; float:left;">{{ price.getUnitLabel() }}</span>-->
                                                <span style="width:100%; display:block; float:left; font-size: 1.3em; font-weight: bold">{{ price.price ~ '€' }}</span>
                                            </div>
                                            {% elseif (prices[0]|length == 2) %}
                                                {% if key_price == 0 %}
                                                    <div style="border-right: thin solid rgba(0,0,0,0.1); padding-top:10px; padding-bottom: 10px; text-align: center; width: 50%; color: #333; background-color: #e8e8e8; display:block; float:left;">
                                                        <span style="width:100%; display:block; float:left;">{{ price.getUnitLabel() }}</span>
                                                        <span style="width:100%; display:block; float:left; font-size: 1.3em; font-weight: bold" >{{ price.price ~ '€' }}</span>
                                                    </div>
                                                {% else %}
                                                    <div style="padding-top:10px; padding-bottom: 10px; text-align: center; width: 50%; color: #333; background-color: #e8e8e8; display:block; float:left;">
                                                        <span style="width:100%; display:block; float:left;">{{ price.getUnitLabel() }}</span>
                                                        <span style="width:100%; display:block; float:left; font-size: 1.3em; font-weight: bold" >{{ price.price ~ '€' }}</span>
                                                    </div>
                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                {% endfor %}
                            {% elseif context == 'philosophies' %}
                                <h2 style="text-decoration: underline"><a style="text-decoration: underline" href="{{ path(product.type, {'philosophie' : product.code}) }}">{{ product.title }}</a></h2>
                            {% endif %}
                            <span>{{ product.subtitle }}</span>
                        </div>
                        <div class="entry-content">

                        </div>
                    </div>
                    {% endfor %}


                </div><!-- #portfolio end -->
            </div>
        </div>
    </section>

{% endblock %}