{% extends 'base.html.twig' %}

{% block content %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">
                    {% for realisation in realisations %}
                    <article class="portfolio-item pf-graphics pf-illustrations alt clearfix">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        {% for key,file in files if key == realisation.code %}
                                            {% for filename in file %}
                                                <div class="slide">
                                                    <a href="{{ asset('media/realisations/' ~ realisation.code ~ '/' ~ filename) }}" data-lightbox="image">
                                                        <img src="{{ asset('media/realisations/' ~ realisation.code ~ '/slider-' ~ filename) }}" alt="Shake It" data-lightbox="image">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-gallery.html">{{ realisation.title }}</a></h3>
                            <span><a href="#">{{ realisation.subtitle }}</a></span>
                            <p>{{ realisation.description }}</p>
                            <a href="{{ path('realisation', {'realisation' : realisation.code}) }}" class="button button-3d noleftmargin">Voir le détail</a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div><!-- #portfolio end -->
        </div>
    </section>
    <div class="col_full nobottommargin">
        {#<div class="fancy-title title-border">#}
        {#<h4>Gallery</h4>#}
        {#</div>#}

        <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
            {% for fileVrac in filesVrac %}
                <a href="{{ asset('media/realisations/' ~ fileVrac) }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/realisations/' ~ fileVrac) }}" alt="Gallery Thumb 1" data-animate="zoomIn"></a>
            {% endfor %}
        </div>
    </div>

{% endblock %}