<div class="col_full">
    <label for="formjardin_place">Choisissez le lieu et la surface à aménager</label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                {% for surface in pricing %}
                    {#{{ dump(surface) }}#}
                <label class="surface_box" onclick="selectSurface(this)">
                    <input type="radio" id="{{ surface.code }}" value="{{ surface.code }}" name="choix_surface" onclick="calcTarif()"/>
                    <img src="{{ asset(surface.image) }}"/>
                    <div class="product-label center">{{ surface.label }}</div>
                    <div class="product-subtitle center">{{ surface.getUnitLabel() }}</div>
                    <div class="product-price center">{{ surface.price }} €</div>
                    <div class="product-add center"><div class="product-button">Valider</div></div>
                    <div class="clearfix center"></div>
                </label>
                {% endfor %}
                <label class="surface_box" onclick="selectSurface(this)">
                    <a href="{{ path('contact') }}">
                    <input type="radio" id="surface_sup" value="surface_sup" name="choix_surface" onclick="calcTarif()"/>
                    <img src="{{ asset('media/lieu/grands-jardins/LA FABRIQUE DE JARDINS - LIEUX - GRANDS JARDINS (1).jpg') }}" />
                    <div class="product-label center">Très grands jardins</div>
                    <div class="product-subtitle center">supérieur à 800m²</div>
                    <div class="product-price center">DEVIS</div>
                    <div class="product-add center"><div class="product-button">Nous contacter</div></div>
                    <div class="clearfix"></div>
                    </a>
                </label>
            </div>
        </div>


    </div>
</div>
<div class="clearfix"></div>
<div class="margin-top">
    <label class="col_full bloc_option_3D">
        <input type="checkbox" id="option_3D" name="option_3D" onclick="calcTarif()"/>
        <img src="" />
        <span style="font-size:130%;"><u>En option:</u> Une <strong>mise en forme 3D</strong> de votre projet - </span>
        <span id="option_3D_price" class="price"> (prix en fonction de la surface)</span>
    </label>
</div>
<div class="col_two_third">
    <a href="#" class="button button-3d fright tab-linker right" rel="2" onclick="verifForm('questionnaire1');">ETAPE SUIVANTE</a>
</div>