{% extends 'base.html.twig' %}

{% block content %}

{# affichage du recap de la commande avec le détail des options
  Revenir sur un formulaire deja rempli ? #}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
                    <img src="{{ asset(pricing.image) }}"/>
                </div>

                <div class="col_three_fifth nobottommargin col_last">

                    <div class="heading-block">
                        <h3 style="margin-bottom: 30px;">Récapitulatif de la commande</h3>
                        <table class="table table-striped">
                            <tr style="font-size: 120%;">
                                <td>{{ pricing.label ~ " - " ~ pricing.getUnitLabel() }}</td>
                                <td>{{ pricing.price }} €</td>
                            </tr>
                            {% for option in options %}
                                <tr>
                                    <td>Option : {{ option.label }}</td>
                                    <td>{{ option.price }} €</td>
                                </tr>
                            {% endfor %}
                            <tr style="font-size: 140%;">
                                <td>TOTAL : </td>
                                <td>{{ total_price }} €</td>
                            </tr>
                        </table>

                    </div>

                    <form action="{{ payment_infos.sUrlPaiement }}" method="post" id="PaymentRequest">
                        <p>
                            <input type="hidden" name="version"             id="version"        value="{{ payment_infos.sVersion }}" />
                            <input type="hidden" name="TPE"                 id="TPE"            value="{{ payment_infos.sNumero }}" />
                            <input type="hidden" name="date"                id="date"           value="{{ payment_array.date }}" />
                            <input type="hidden" name="montant"             id="montant"        value="{{ payment_array.montant }}{{ payment_array.devise }}" />
                            <input type="hidden" name="reference"           id="reference"      value="{{ payment_array.reference }}" />
                            <input type="hidden" name="MAC"                 id="MAC"            value="{{ payment_smac }}" />
                            <input type="hidden" name="url_retour"          id="url_retour"     value="{{ payment_infos.sUrlKO }}" />
                            <input type="hidden" name="url_retour_ok"       id="url_retour_ok"  value="{{ payment_infos.sUrlOK }}" />
                            <input type="hidden" name="url_retour_err"      id="url_retour_err" value="{{ payment_infos.sUrlKO }}" />
                            <input type="hidden" name="lgue"                id="lgue"           value="{{ payment_infos.sLangue }}" />
                            <input type="hidden" name="societe"             id="societe"        value="{{ payment_infos.sCodeSociete }}" />
                            <input type="hidden" name="texte-libre"         id="texte-libre"    value="{{ payment_array.texteLibre }}" />
                            <input type="hidden" name="mail"                id="mail"           value="{{ payment_array.email }}" />

                            <input type="submit" name="bouton"              id="bouton"         value="Confirmer et procéder au paiement" class="button button-3d fright tab-linker right"/>

                        </p>
                    </form>

                </div>

                <div class="clear"></div>

                <div class="col_full col_last clearfix">
                    <div class="col_half">
                        <div class="accordion clearfix">
                            <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Carte bancaire (paiement sécurisé)</div>
                            <div class="acc_content clearfix">
                                <p>Paiement par carte bancaire par une plateforme sécurisée.</p>
                                <img src="{{ asset('media/monetico/CB.gif') }}">
                                <img src="{{ asset('media/monetico/VISA.gif') }}">
                                <img src="{{ asset('media/monetico/MASTERCARD.gif') }}">
                            </div>

                            <!--<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Chèque (paiement en plusieurs fois possible)</div>
                            <div class="acc_content clearfix">Vous avez la possibilité de payer par chèque.</div>

                            <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Virement (paiement en plusieurs fois possible)</div>
                            <div class="acc_content clearfix">Vous avez la possibilité de régler par virement bancaire.</div>
                            -->
                        </div>
                    </div>
                    <div class="col_half col_last" style="text-align: center">
                        <img src="{{ asset('media/cic.jpg') }}"/>
                        <img src="{{ asset('media/credit-mutuel.jpg') }}"/>
                        <img src="{{ asset('media/monetico-paiement.jpg') }}"/>
                    </div>
                </div>

                <div class="clear"></div><div class="line"></div>

            </div>
        </div>
    </section>

{% endblock %}