{% extends 'catalog/catalog-ambiances.html.twig' %}

{% block body %}

    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-a-la-francaise.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-anglais.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-contemporain-moderne.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-d-ombre.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-mauresque-alhambra.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-medieval.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-mediterranean.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-oriential-zen.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>
    <div class="ambiance-bloc">
        <img src="{{ asset('media/jardins/jardin-tropical.jpg') }}" />
        <div class="ambiance-texte"></div>
    </div>

{% endblock %}